.container {  
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 500px;
  height: 150px;
  left: 700px;
  right: 500px;
  border-radius: 10px;
  top: 300px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
}


.greetings{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.applink {
  font-size: larger;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}
